{% extends 'base.html.twig' %}

{% block title %}Dictionary for {{ stuff.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center font-weight-bold">Dictionary for {{ stuff.name }}</h2>
        <table class="table table-light" style="border: 3px #0a0a0a solid">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">original</th>
                    <th scope="col">translation</th>
                </tr>
            </thead>
            <tbody>
                {% for pare_of_words in dictionary.pareOfWords %}
                    <tr>
                        <td style="border-right: 4px solid; border-bottom: 1px solid">{{ pare_of_words.original }}</td>
                        <td style="border-bottom: 1px solid">{{ pare_of_words.translation }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
